/* CUSTOM PROPERTIES */
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root{
  --ff-main: 'Lato', sans-serif;
  --ff-secondary:  'Catamaran', sans-serif;
  --ff-three: 'Barlow', sans-serif;
  /* use online colour picker for accuracy */
  --clr-background-color: #fff;
  --clr-accent: #F7F7F8;
  --clr-outlines:#C9C8CC;
  --clr-btn: #0066FF;
  --clr-other: #FF0096;
  --clr-text-main: #000;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 2rem;
  --fs-h4: 1em;
  --fs-body: 1rem;
  --lh-main: 1.3;
} 
/* Changes the font size over 800px */
@media (min-width: 800px){
  :root{
  --fs-h1: 4.5rem;
  --fs-h2: 2.50rem;
  --fs-h3: 2rem;
  --fs-body: 1rem;
  }}
html {scroll-behavior: smooth;}

/* applies roots to body */
body{
  background: var(--clr-background-color);
  color: var(--clr-text-main);
  font-family: var(--ff-main);
  line-height: var(--lh-main);
}
/* Connects font sizes to root sizes */
h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}
h4{font-size: var(--fs-h4); font-weight: 900;}
p{font-size: var(--fs-body);}

body, h1, h2, h3{transition: 0.7s;}
img{display: block; max-width: 100%}
/* section{margin: 30px;} */
a:link, a:visited{color: var(--clr-text-main);}
a:hover, a:active{color: var(--clr-btn);}
button{background: var(--clr-btn); color: var(--clr-background-color);font-size: 15px;font-weight:400;border: none; border-radius: 8px; cursor: pointer;}
button:hover{background-color:#0050c9;}


/* HEADER */

header{
  width: 100%;
  height: 60px;
  display: block;
  background-color: var(--clr-background-color);
}

.header_wrapper{
  width: 97%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: var(--clr-background-color);
}

.header-horLine{
  width: 100%;
  height: 1px;
  background-color: var(--clr-outlines);
}


/* logo and tag */


.logo_wrapper{
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
}

/* downloaded svg from website and screenshot it*/

.logo{
  height: 20px;
}
/* text logo */
/* .logo_wrapper > h4{
  color: var(--clr-btn);
  height: 100%;
  display: flex;
  align-items: center;
  font-family: var(--ff-secondary);
} */

.mailTag_wrapper{
  height: 100%;
  float: left;
  display: block;
  padding-left: 30px;
}

.mailTag{
  height: 100%;
  display: flex;
  align-items: center;
}

.square{
  height: 30px;
  width: 30px;
  background-color: var(--clr-other);
  border: solid 1px var(--clr-accent);
  border-radius: 15%;
}

.mailTag p{
  padding-left: 10px;
  font-size: 13px;
  text-align: left;
  max-width: 5in;
  
}


/* navigation */


.nav_wrapper{
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}

.nav_wrapper li{
  margin-left: 20px;
  
}

.nav_wrapper span {
  color: var(--clr-other);

}
.nav_wrapper span:hover {
  animation: milUsers 7s infinite;

}

.nav_wrapper button{
  padding: 12px 15px;
}

.header-verLine{
  width: 1px;
  height: 40px;
  background-color: var(--clr-outlines);
  margin-left: 20px;
}


/* HERO SECTION */

section{
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
  
}

.heroSection_wrapper{
  padding-top: 100px;
  width: 90%;
  display: flex;
  flex-direction: row;
  text-align: center;
  float:right;

}
.heroSection_left{
  width: 50%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: var(--clr-background-color);

}


.heroText_wrapper h1{
  font-family: var(--ff-secondary);
  padding: 30px 0;


}
.heroText_wrapper p {
  padding-bottom: 20px;


}
.milUsers{
  padding-top: 20px;
  animation: milUsers 13s infinite;
}
@keyframes milUsers {
  0%   {color: rgb(201, 58, 58);}
  10%   {color: rgb(255, 119, 0);}
  20%  {color: rgb(249, 240, 77);}
  30%   {color: rgb(123, 255, 0);}
  40%  {color: rgb(0, 255, 170);}
  50%  {color: rgb(0, 234, 255);}
  60% {color: rgb(5, 71, 142);}
  70% {color: rgb(21, 5, 167);}
  80% {color: rgb(48, 5, 100);}
  90% {color: rgb(128, 0, 117);}
  100% {color: rgb(128, 0, 51);}
}

/* hero section buttons */
.btn_wrapper{
  display: flex;
  flex-direction: column;
}

.btn_wrapper button{
  display: block;
  padding: 14px 60px;
  display: flex;
  margin: 8px auto;
}

.btn_wrapper span > button{
  color: var(--clr-text-main);
  background-color: var(--clr-background-color);
  border: solid 1px var(--clr-outlines);
  padding: 12px 45px !important;
}

.btn_wrapper span > button:hover{
  border-color: var(--clr-text-main);
}



/* .heroSecton_right{
  background-color:#FF0096;
  width: 760px;
  height: 425px;
  display:block;
  float: right;

} */

.heroImage{

}









/* PRODUCT SECTION */

.productSection_wrapper{
  padding-top: 115px;
  display: block;
  width: 97%;
  
}
.productSection{
  display:flex;
  text-align: center;
  justify-content: center;
  height: 300px;
}

.product{
  background-color: var(--clr-accent);
  border-radius: 15px;
  width: 265px;
  margin: 10px;
  display:flex;
  flex-direction: column;

}
.addTag img{
  height: 90px;
  position: relative;
  padding-top: 40px;
  margin: auto;
  left: 20px;
}
#adobeExtension img{
  left: 40px;
}

#iosApp img, #chromeExtension img{
  left: 0px;
  padding-top: 30px;
  padding-bottom: 10px;
  
}


.productText{
  margin: 0 20px;
}

.productText h3{
  font-family: var(--ff-three);
  line-height: 0.8;
  font-size: 25px;
}
.productText p{
  padding-top: 30px;
  line-height: 1.5;
}


/* Product section Tags */

.addTag{
  width: auto;
  display:flex;
  margin: 15px;
  justify-content: flex-end;
}
.addTag span{
  position: relative;
  height: 18px;
  width:40px;
  border-radius: 5px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#androidApp span{
  background-color: #C7F5EB;
  color: #0D8161;
}
#figmaPlugin span{
  background-color: #FFE5F4;
  color: #CC0178;
}
#adobeExtension span{
  width: 75px !important;
  background-color: #FBEDB8;
  color: #A98501;
}










/* NONPROFITS SECTION */

.nonprofitsSection_wrapper{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  width: 97%;
}
.fortheplanetImage img{

}


.fortheplanetText_wrapper{
  display: block;
}






/* END SECTION */

.endSection_wrapper{
  display: flex;
  flex-direction: row;
  text-align: center;


}

/* FOOTER SECTION */

footer{
  width: 100%;
  height: 110px;
  display: block;
  background-color: var(--clr-background-color);
}

.footer_wrapper{
  width: 58%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: var(--clr-background-color);
}

.footer-horLine{
  width: 55%;
  margin: auto;
  height: 1px;
  background-color: var(--clr-outlines);
}

.endTag_wrapper{
  height: 100%;
  float: left;
  display: block;
  padding-left: 30px;
}

.endTag{
  height: 100%;
  display: flex;
  align-items: center;
}


.icon_wrapper{
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}

.footerImage_wrapper img{
  height: 20px;
}


.icon_wrapper li{
  margin-left: 20px;
  
}